---
name: Run tests

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
          cache: "pip"

      - name: Install dependencies
        run: |
          pip install -r test-requirements.txt
          pip install setuptools

      - name: Run Tests
        run: python -m pytest -n 4 --cov --cov-report term-missing

      - name: Enfoce 100% Tests Coverage
        run: python -m coverage report --include 'tests/**' --fail-under 100
