---
name: Pre Commit

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"
      - uses: pre-commit/action@v3.0.1
